
* {
    margin: 0;
    padding: 0;
}

.div1{
    height: auto;
}

.topnav {
    position: sticky;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: aliceblue;
}

.titulo h1:hover {
    animation: dancing 2.3s linear infinite;
}

@keyframes dancing {
    0% { transform: rotate(-5deg) scale(1.2); }

    25% { transform: rotate(5deg); }

    50% { transform: rotate(5deg) scale(1.2); }

    75% { transform: rotate(5deg); }

    100% { transform: rotate(-5deg) scale(1.2); }
}

/* --- Section 2 --- */

.div2{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
}

.rotina {
    text-align: center;
    font-size: 1.8rem;
    border: 1px solid ghostwhite;
    border-radius: 8px;
    max-width: 75%;
    margin: 16px auto;
    padding: 8px;
}

.img-quote {
    display: flex;
    max-width: 60%;
    margin: 16px auto;
    padding: 8px;
}

.mypicture {
    flex: 1 auto;
    max-width: 33%;
    margin: 20px;
    box-shadow:
            -50px -50px 0 -40px rgba(216, 122, 6, 1),
            50px 50px 0 -40px rgba(216, 122, 6, 1);
}

blockquote {
    flex: 3 auto;
    color: ghostwhite;
    font-size: 1.5rem;
    border-left: 10px solid rgba(216, 122, 6, 1);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

