body, html, #section1, #section2 {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(12, 12, 12, 1);
    box-sizing: border-box;
    font-family: "courier new", courier, monospace;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --- FIRST SECTION --- */

#section1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/1351629.png");
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    overflow: hidden;
}

#section1::selection {
    color: rgba(216, 122, 6, 1);
    background: rgba(12, 12, 12, 1);
}

.topnav {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-bottom: 4rem;
}

.logo{
    margin: 0 5%;
    background-color: transparent;
}

.logo svg{
    width: 120px; /* 84 */
    height: 80px; /* 40 */
}

.topnav .item {
    text-decoration: none;
    font-size: 24px;
    color: rgba(216, 122, 6, 1);
    background-color: rgba(12, 12, 12, 60%);
    padding: 8px;
    border-radius: 8px;
}

.item:hover {
    color: ghostwhite;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    color: ghostwhite;
}

.header-phrase {
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    max-width: 50%;
    transition: font-size 0.3s ease;
    text-align: center;
    padding: 16px;
    margin: 16px;
    flex: 1 auto;
}

.header-phrase h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid rgba(216, 122, 6, 1); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(216, 122, 6, 1);; }
}

.latest-projects {
    border: 5px solid ghostwhite;
    border-radius: 2.5px;
    color: ghostwhite;
    font-size: 20px;
    text-decoration: none;
    padding: 24px;
    margin: auto 16px;
    flex: 1 auto;
    max-width: 50%;
    transition: font-size 0.3s ease;
}

.latest-projects h1 {
    position: sticky;
    top: 0;
    margin-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

.lista-projetos {
    overflow: auto;
    height: 300px;
    font-size: 1.3em;
}

.lista-projetos::-webkit-scrollbar {
    width: 12px;
}

.lista-projetos::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1.5px solid #7e7e7e;
    border-radius: 8px;
}

.lista-projetos::-webkit-scrollbar-thumb {
    background-color: ghostwhite;
    border: 2px solid #616161;
    border-radius: 8px;
}


.lista-projetos a:hover {
    text-decoration: underline;
    color: rgba(216, 122, 6, 1);
}

.chevron-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    bottom: 0;
    width: 100%;
}

/* --- SECOND SECTION --- */

#section2 {
    color:ghostwhite;
}

#section2::selection {
    color: rgba(12, 12, 12, 1);
    background: rgba(216, 122, 6, 1);
}

/* Color Theme Swatches in Hex */
.Architecture-1-hex { color: #294273; }
.Architecture-2-hex { color: #2C4A73; }
.Architecture-3-hex { color: #D97A07; }
.Architecture-4-hex { color: #732002; }
.Architecture-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Architecture-1-rgba { color: rgba(41, 65, 114, 1); }
.Architecture-2-rgba { color: rgba(43, 74, 114, 1); }
.Architecture-3-rgba { color: rgba(216, 122, 6, 1); }
.Architecture-4-rgba { color: rgba(114, 32, 2, 1); }
.Architecture-5-rgba { color: rgba(12, 12, 12, 1); }

